@media (max-width:600px){
    /*Para telefonos mobiles*/
    h2{border-bottom:solid rgb(58, 58, 58) 2px;}
}

@media handheld{
    /*Para telefonos mobiles*/
    h2{border-bottom:solid rgb(58, 58, 58) 2px;}
}


@media (min-width:600px) and (max-width:1200px) {
    /*Para tablets, etc.*/
    div#datos ul li{width:175px;}
    div#datos{position:absolute;}
    div#academica{position:absolute;left:45%;}
    div#experiencia{position:absolute;top:255px;left:45%;}
}

@media (min-width:1200px) {
    /*Para ordenadores*/
    div#datos{position:absolute;}
    div#academica{position:absolute;left:53%;}
    div#experiencia{position:absolute;left:25%;}
}
